
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  overflow: hidden;

}

.page-container {
  padding-top: 90px; 
  min-height: 100vh;

}

.app-content {
  padding-top: 90px;
  display: flex;
}

.app-main {
  margin-left: 200px; 
  flex: 1;
  padding: 20px;
}

